@font-face {
  font-family: "SVN-Gilroy Light";
  font-style: normal;
  font-weight: normal;
  src: url("SVNGilroy\ Light.woff") format("woff");
}

@font-face {
  font-family: "SVN-Gilroy Bold";
  font-style: normal;
  font-weight: normal;
  src: url("SVNGilroy Bold.woff") format("woff");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  background-color: #f1f1f1;
}
a {
  text-decoration: none;
}
:root {
  --mainColor1: #303030;
  --mainColor2: #e5a823;
  --mainColorXam: #a1a1a1;
}
@media only screen and (max-width: 600px) {
  .bar {
    display: none;
  }
  /* nav  */
  .nav {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    margin: auto;
    border: none;
    padding: 18px 21px;
    display: flex;
  }
  .nav .logo {
    margin: 0 0 0 0;
    display: flex;
  }
  .nav .logo a {
    display: flex;
  }
  #hide {
    display: none;
  }
  .nav .logo h4 {
    font-family: "SVN-Gilroy Bold";
    font-size: 12px;
    line-height: 38px;
  }
  .nav p {
    font-family: "SVN-Gilroy Bold";
    color: #000000;
    font-size: 12px;
    margin: 10px 28px;
  }
  #press {
    display: block;
    margin-left: auto;
    order: 2;
  }
  .nav button {
    font-family: "SVN-Gilroy Bold";
    color: #ffffff;
    font-size: 12px;
    background-color: #e5a823;
    margin: 0px 18px;
    padding: 13px 34px;
    border-radius: 20px;
    border: none;
    outline: none;
  }
  .nav .circle {
    margin: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    /* line-height: 29px; */
    max-width: 40px;
    width: 40px;
    height: 40px;
    border: 1px solid #b9b9b9;
    color: var(--mainColorXam);
    background-color: #ffffff;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* cover */
  .cover {
    background-color: var(--mainColor2);
    width: 100%;
    height: auto;
    /* margin: auto; */
    padding: 52px 20px;
  }
  .cover-child {
    height: auto;
    width: 100%;
    display: inline-block;
    background-color: var(--mainColor2);
  }
  .cover .cover-child .text {
    width: 100%;
    padding: 0 0;
  }
  .cover .cover-child .text h1 {
    font-size: 21px;
    color: #ffffff;
    margin: 0px 20px 0 0;
    font-weight: 500;
    font-family: "SVN-Gilroy Bold";
  }
  .cover .cover-child .text p {
    font-weight: 500;
    font-family: "SVN-Gilroy Light";
    font-size: 12px;
    color: #ffffff;
  }
  .cover .cover-child .img {
    width: 100%;
    background-color: var(--mainColor2);
    margin: 30px 0 30px 0;
  }
  .cover .cover-child img {
    width: 100%;
    height: 100%;
    /* float: right; */
  }
  /* parent  */
  .parent {
    width: 100%;
    height: auto;
    margin: auto;
    background-color: #ffffff;
    padding: 53px 38px;
  }
  .parent .text {
    width: 100%;
    background-color: #ffffff;
    padding: 0 0;
  }
  .parent .text h1 {
    font-family: "SVN-Gilroy Bold";
    font-size: 17px;
    font-weight: 500;
    text-align: center;
  }
  /* hr {
  width: 5rem;
  height: 5px;
  background-color: var(--mainColor2);
  margin: auto;
  display: none;
} */
  .parent .content {
    width: 100%;
    padding: 0px 1px;
    display: inline;
  }
  .parent .content .item .img {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .parent .content .item img {
    width: 120%;
    height: 100%;
  }
  .parent .content .item {
    width: 100%;
    margin: 0px 21px 0px 0px;
  }
  .parent .content .item p {
    font-family: "SVN-Gilroy Light";
    font-size: 11px;
    color: var(--mainColorXam);
    margin: 0px 0px;
  }
  /* main  */
  .main {
    width: 100%;
    height: auto;
    padding: 50px 21px;
    background-color: #f1f1f1;
  }
  .main .justify {
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
  }
  .main .justify .text {
    width: 100%;
    height: auto;
    padding: 0 0;
  }
  .main .justify .text h1 {
    font-family: "SVN-Gilroy Bold";
    font-size: 17px;
    text-align: center;
    padding: 0 38px;
  }
  .main .justify .text p {
    /* text-align: center; */
    color: var(--mainColor1);
    font-family: "SVN-Gilroy Light";
    font-size: 12px;
    padding: 0px 0;
  }
  /* content  */
  .main .justify .content {
    padding: 43px 0 0 0;
    width: 100%;
    display: block;
  }
  .main .justify .content .img {
    /* width: 50%; */
    display: none;
  }
  .main .justify .content img {
    /* width: 100%; */
    display: none;
  }
  .main .justify .content .txt {
    width: 100%;
    display: inline;
    margin: 0px 0px 0px 0;
    background-color: crimson;
  }
  .main .justify .content .txt .row {
    width: 100%;
    display: flex;
  }
  .main .justify .content .txt .row hr {
    background-color: var(--mainColorXam);
    width: 0;
    height: 200px;
    margin: auto;
    display: none;
  }
  .main .justify .content .txt .row .left {
  }
  .main .justify .content .txt .row .left h4 {
    width: 100%;
    font-family: "SVN-Gilroy Bold";
    font-size: 24px;
    color: var(--mainColor2);
  }
  .main .justify .content .txt .right {
    width: 100%;
    padding: 10px 0 0 0;
  }
  .main .justify .content .txt .right b {
    font-family: "SVN-Gilroy Bold";
    font-size: 13px;
    color: #000000;
  }
  .main .justify .content .txt .right p {
    font-family: "SVN-Gilroy Light";
    font-size: 13px;
    color: #000000;
  }
  .main .justify .content .txt .right i {
    color: var(--mainColor2);
    margin: 8 px;
  }
  /* row2-- */
  .main .justify .content #it2 .txt {
    width: 49.999999%;
    display: inline-table;
    margin: 0px 34px 0px 0px;
  }
  .main .justify .parent-bot {
    background-color: #ffffff;
  }
  .main .justify .parent-bot .text-bot {
    width: 100%;
    height: auto;
    padding: 48px 0;
  }
  .main .justify .parent-bot .text-bot h1 {
    font-family: "SVN-Gilroy Bold";
    font-size: 17px;
    text-align: center;
  }
  .main .justify .parent-bot .content {
    width: 100%;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
  }
  .main .justify .parent-bot .content .item {
    width: 100%;
    margin: 0;
  }
  .main .justify .parent-bot .content .item img {
    /* width: 1440px !important; */
    width: 100%;
    height: auto;
    background-color: #303030;
  }

  .main .justify .parent-bot .content .item h6 {
    font-family: "SVN-Gilroy Bold";
    font-size: 13px;
    color: var(--mainColor2);
    /* text-align: center; */
    text-align: center;
    margin: 30px 0;
  }
  .main .justify .parent-bot .content .item p {
    font-family: "SVN-Gilroy Light";
    font-size: 13px;
    color: var(--mainColorXam);
    /* text-align: center; */
    text-align: center;
    margin: 0px 57px;
  }
  /* support */
  .main .justify .support {
    width: 100%;
    height: auto;
    padding: 50px 0 0 0;
    background-color: #f1f1f1;
  }
  .main .justify .support h1 {
    font-family: "SVN-Gilroy Bold";
    font-size: 17px;
    color: #000000;
  }
  .main .justify .support .content {
    width: 100%;
    display: inline;
    padding: 30px 0;
  }
  .main .justify .support .content .tab-left {
    width: 100%;
    background-color: #ffffff;
    font-family: "SVN-Gilroy Light";
  }
  .main .justify .support .content .child-1 {
    width: 100%;
    background-color: #ffffff;
    padding: 0px 0px;
    margin: 15px 0;
    border-radius: 10px;
    font-size: 13px;
    font-family: "SVN-Gilroy Light";
    border: none;
  }
  .main .justify .support .content .child-1 .collapsible {
    width: 100%;
    cursor: pointer;
    border: none;
    text-align: left;
    padding: 20px 0;
    background-color: #ffffff;
    font-family: "SVN-Gilroy Bold";
    color: var(--mainColor1);
    outline: none;
    display: flex;
  }
  .main .justify .support .content .child-1 .collapsible p {
    margin: 10px;
  }
  .main .justify .support .content .child-1 .collapsible .circle {
    margin: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    max-width: 41px;
    width: 41xp;
    height: 26px;
    border: 1px solid #b9b9b9;
    color: var(--mainColorXam);
    background-color: #ffffff;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main .justify .support .content .child-1 .collapsible:hover {
    width: 100%;
    cursor: pointer;
    border: none;
    text-align: left;
    padding: 20px 0 20px 0;
    background-color: #ffffff;
    font-family: "SVN-Gilroy Bold";
    color: var(--mainColor2);
  }
  .main .justify .support .content .child-1 .hidden {
    overflow: hidden;
    display: none;
    padding: 10px 0;
  }

  .main .justify .support .content .tab-right {
    width: 100%;
    background-color: #ffffff;
    margin: 0 0px;
    border-radius: 10px;
    padding: 9px;
    border: 1px solid var(--mainColorXam);
    display: block;
  }
  .main .justify .support .content .tab-right button {
    width: 100%;
    background-color: var(--mainColor2);
    padding: 20px 38px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-family: "SVN-Gilroy Bold";
    color: #ffffff;
    outline: none;
  }
  .main .justify .support .content .tab-right hr {
    margin: 20px 0;
    width: 100%;
    height: 0;
    background-color: var(--mainColorXam);
  }
  .main .justify .support .content .tab-right .txt {
    width: 100%;
    margin: 22px 0px;
  }
  .main .justify .support .content .tab-right .txt p {
    color: var(--mainColorXam);
    font-size: 13px;
    font-family: "SVN-Gilroy Light";
  }
  .main .justify .support .content .tab-right .txt h6 {
    color: #000000;
    font-size: 13px;
    font-family: "SVN-Gilroy Bold";
  }
  /* ads  */
  .ads {
    margin: auto;
    width: 100%;
    height: auto;
    padding: 50px 20px;
    background-color: var(--mainColor2);
    display: flex;
    flex-direction: column;
  }
  .ads .text {
    width: 100%;
  }
  .ads .text h1 {
    font-family: "SVN-Gilroy Bold";
    color: #000000;
    font-size: 20px;
    padding: 0 67px 32px 0;
  }
  .ads .text p {
    font-family: "SVN-Gilroy Light";
    color: #000000;
    font-size: 13px;
    padding: 0 50px 0 0;
  }

  .ads .btn {
    width: 100%;
    padding: 37px 0 0 0;
  }
  .ads .btn button {
    width: 100%;
    padding: 20px 50px;
    font-family: "SVN-Gilroy Bold";
    border-radius: 35px;
    background-color: #000000;
    color: #ffffff;
    font-size: 13px;
    border: none;
    outline: none;
  }
  /* footer  */
  footer {
    /* margin: auto; */
    width: 100%;
    height: auto;
    padding: 0 0;
    background-color: var(--mainColor1);
    display: inline;
  }
  footer .left {
    width: 100%;
    height: auto;
    padding: 16px 21px;
    background-color: var(--mainColor1);

  }
  footer h4 {
    font-family: "SVN-Gilroy Bold";
    font-size: 20px;
    color: var(--mainColor2);
    padding: 0 0 32px 0;
  }
  footer p {
    padding: 0 0 0 0;
    font-family: "SVN-Gilroy Light";
    font-size: 12px;
    color: var(--mainColorXam);
  }
  footer .left .logo {
    display: flex;
    height: auto;
    background-color: var(--mainColor1);
  }
  footer .mid {
    width: 100%;
    height: auto;
    padding: 16px 21px;
    background-color: var(--mainColor1);
  }

  footer .mid i {
    color: var(--mainColor2);
    padding: 0 5px 0 0;
  }

  footer .right {
    width: 100%;
    height: auto;
    padding: 16px 21px;
    background-color: var(--mainColor1);
  }
  footer .right .list {
    width: 100%;
    display: flex;
  }

  footer li {
    color: var(--mainColor2);
  }
  footer li a {
    font-size: 12px;
    color: var(--mainColorXam);
    font-family: "SVN-Gilroy Light";
  }
  footer .right .list .l1 {
    width: 49.99999999%;
  }
  footer .right .list .l2 {
    width: 49.66666666%;
  }
  .end {
    margin: auto;
    width: 100%;
    background-color: #000000;
    text-align: center;
    padding: 32px 44px;
  }
  .end p {
    font-size: 12px;
    color: var(--mainColorXam);
    font-family: "SVN-Gilroy Light";
  }
  .end p1 {
    font-size: 12px;
    color: var(--mainColor2);
    font-family: "SVN-Gilroy Light";
  }
}
